#dropdown-menu-2btn-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-0 .nav .link,
#dropdown-menu-2btn-0 .dropdown-item {
  font-size: 1em;
  color: #d9534f;
}
#dropdown-menu-2btn-0 .navbar,
#dropdown-menu-2btn-0 .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-0 .dropdown-menu a:hover,
#dropdown-menu-2btn-0 .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-0 .navbar-toggler {
  color: #d9534f;
}
#content5-2 .mbr-section-title {
  text-align: center;
}
#content5-2 P {
  text-align: center;
}
#header3-d H3 {
  text-align: center;
}
#msg-box4-d .lead P {
  text-align: left;
  font-size: 16px;
}
#msg-box4-c .lead P {
  text-align: left;
  font-size: 16px;
}
#msg-box4-5 .lead P {
  text-align: left;
  font-size: 16px;
}
#content4-7 P {
  text-align: center;
}
#dropdown-menu-2btn-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-e .nav .link,
#dropdown-menu-2btn-e .dropdown-item {
  font-size: 1em;
  color: #d9534f;
}
#dropdown-menu-2btn-e .navbar,
#dropdown-menu-2btn-e .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-e .dropdown-menu a:hover,
#dropdown-menu-2btn-e .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-e .navbar-toggler {
  color: #d9534f;
}
#content5-j .mbr-section-title {
  font-size: 36px;
}
#msg-box4-y .lead P {
  text-align: left;
  font-size: 16px;
}
#dropdown-menu-2btn-p .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-p .nav .link,
#dropdown-menu-2btn-p .dropdown-item {
  font-size: 1em;
  color: #d9534f;
}
#dropdown-menu-2btn-p .navbar,
#dropdown-menu-2btn-p .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-p .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-p .dropdown-menu a:hover,
#dropdown-menu-2btn-p .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-p .navbar-toggler {
  color: #d9534f;
}
#msg-box4-t .lead P {
  text-align: left;
  font-size: 16px;
}
#msg-box4-u .lead P {
  text-align: left;
  font-size: 16px;
}
#dropdown-menu-2btn-z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-2btn-z .nav .link,
#dropdown-menu-2btn-z .dropdown-item {
  font-size: 1em;
  color: #d9534f;
}
#dropdown-menu-2btn-z .navbar,
#dropdown-menu-2btn-z .dropdown-menu {
  background: #ffffff;
}
#dropdown-menu-2btn-z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-2btn-z .dropdown-menu a:hover,
#dropdown-menu-2btn-z .dropdown-menu a:focus {
  background: #f5f5f5;
}
#dropdown-menu-2btn-z .navbar-toggler {
  color: #d9534f;
}
#content5-12 .mbr-section-title {
  font-size: 36px;
}
